body{
	background: url(../img/bg.png) repeat;
	max-width: 100%;
	width: 100%;
	height: 100%;
	font-family: Lato, sans-serif;
}


img {
	margin: 10px auto;
	width: 4%;
	height: 4%;
	display: block;
}

h3 {
	text-align: center;
	color: #fff;
	margin-top: 2%;

}

#main {
	margin: 40px auto;
	background: lightblue;
	width: 50%;
	height: 350px;
	padding-top: 30px;
	border: 5px dashed green;
	position: relative;
	text-align: center;
}

.bar {
	height: 60px;
	border-radius: 5px;
}

#hot {
	position: absolute;
	top: 0;
	width: 0%; /*changed*/
	background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), -webkit-linear-gradient(#D03511, #EA0F0F);
  	-webkit-animation-name: slide-hot;
  	-moz-animation-name: slide-hot;
	-o-animation-name: slide-hot;
	animation-name: slide-hot;
  	-webkit-animation-duration: .7s;
  	-webkit-transition: .7s;

}

#cold {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), -webkit-linear-gradient(#1611D0, #0D0A99);
	-webkit-animation-name: slide-cold;
	-moz-animation-name: slide-cold;
	-o-animation-name: slide-cold;
	animation-name: slide-cold;
  	-webkit-animation-duration: .7s;
  	-webkit-transition: .7s;

}

#numberForm {
	text-align: center;
	margin: 57px 25% 20px 25%;
	padding: 2% 0;
	width: 50%;
	background: rgba(255,255,255, .3);
	opacity: .4;
}

.buttons {
	padding: 3% 7%;
	border-radius: 100%;
	color: #fff;
	margin-bottom: 20px;
}

.buttons:hover {
	color: green;
	font-size: 1.2em;
	/*****perform transition here*******/
}

#guess {
	background: blue;
}

#refresh {
	background: red;
}

#feedback {
	font-size: 1.7em;
	color: white;
	margin-bottom: 25px;
}

#result p {
	color: #fff;
	margin: 5px 0;
	font-size: 1.5em;
	color: green;
}

#previous {
	text-align: center;
	color: navy;
}


/*********  Keyframes
**********************************************/

/**********************************************
	HOT BAR
**********************************************/

@-webkit-keyframes slide-hot {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}

@-moz-keyframes slide-hot {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}

@-o-keyframes slide-hot {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}

@keyframes slide-hot {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}
/**********************************************
	COLD BAR
**********************************************/

@-webkit-keyframes slide-cold {
	0% {width: 100%;  }
	100%   {width: 0%;  }
}

@-moz-keyframes slide-cold {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}

@-o-keyframes slide-cold {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}

@keyframes slide-cold {
	0% {width: 0%;  }
	100%   {width: 100%;  }
}